<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- 제이쿼리 CDN -->
     <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
     <!-- axios CDN -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <!-- socket io -->
     <script src="/socket.io/socket.io.js"></script>
 
    <title>Document</title>

</head>
<body>
    <h1>채팅방</h1>
    <div id="useid"></div>
    <div id="usename"></div>
    <div id="chulsu">철수랑 이야기하기</div>
    <div id="dongmin">동민이랑 이야기하기</div>
    <script>
        const socket = io();
        const userid = localStorage.getItem("user_id")
        const name = localStorage.getItem("user_name")
        var myName;
        $("#useid").text(userid);
        $("#usename").text(name);

        //철수랑 1:1 채팅 하기
        $("#chulst").on("click", function(){
            
        })
    </script>
</body>

</html>