<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 제이쿼리 CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- socket io -->
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>로그인</h1>
    <input type="text" id="userid" /><br />
    <input type="password" id="pw" /><br />
    <button type="button" onclick="signin()">로그인하기</button>

    <script>
      const socket = io();
      async function signin() {
        const result = await axios({
          method: "POST",
          url: "/signin",
          data: {
            userid: $("#userid").val(),
            pw: $("#pw").val(),
          },
        });
        console.log(result);
        console.log("rrr===========", result.data.result.userid);
        const userid = result.data.result.userid;
        if ({ result: true }) {
          alert("로그인되었습니다.");
          localStorage.setItem("user_id", result.data.result.userid);
          localStorage.setItem("user_name", result.data.result.name);

          //로그인할 때 서버에 리스트 저장하기.
          socket.emit("userlist", userid);

          window.location.href = "/chat";
        } else {
          alert("로그인실패");
        }
      }
    </script>
  </body>
</html>
